/* SCSS HEX */
$deep-sky-blue: #00bbf9ff;
$aquamarine: #00f5d4ff;
$white: white;
$black: black;
$semi-transparent-dark-overlay: #00000099;
$box-shadow-dark: #00000080;
$text-shadow-dark: #f0e1e9;
$navy-blue: rgb(59, 84, 92);
$flame: #dc5e32ff;
$seal-brown: #502c15ff;
$kelly-green: #02b405ff;
$rose-quartz: #b49e9eff;
$sandy-brown: #ffb27fff;
$white-sand: #f7ebe4;
$tiel: #224d4b;
$tan: #d2b48c;
$sienna: #a0522d;
$saddle-brown: #8b4513;
$dark-brown: #5c4033;
$very-dark-brown: #3e2723;
